$main-color: #529fff;
$sub-color: #c8dfff;
$nav-text-color: #fff;

@font-face {
  font-family: 'Yeseva';
  src: url('http://source.minddial.top/font/YesevaOne.ttf');
}
.vip-avatar {
  border-color: #ffdc83 !important;
  position: relative;
  &::after {
    content: 'V';
    position: absolute;
    bottom: -5rpx;
    right: -5rpx;
    width: 40rpx;
    height: 40rpx;
    background-color: #ffdc83;
    color: #fff;
    font-size: 28rpx;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-family: 'Yeseva';
    font-weight: 700;
  }
}

:export {
  mainColor: $main-color;
  subColor: $sub-color;
  navTextColor: $nav-text-color;
}
